.Settings {
  padding: 1%;
  width: 25%;
  float: left;
  color: rgba(77, 77, 77);
  background-color: white;
  border-radius: 10px;
  p {
    font-weight: 600;
    margin-bottom: 5%;
  }
  .CurrencyRadio {
    margin: 8% 0 15% 0;
    width: 100%;
  }
}
